img{
    width: 200px;
    height: 200px;
}
div{
    background-color: crimson;
    padding: 20px;
}
@media screen and (max-width:320px){
    img{
        background-color: aqua;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 3px 4px 5px black;
    }
}

@media screen and (min-width:375px) and (max-width:520px){
    img{
        background-color: #990ca9;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 3px 4px 5px black;
    } 
}

@media screen and (min-width:521px) and (max-width:1024px){
    img{
        background-color: #311bf0;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 3px 4px 5px black;
    }  
}

@media screen and (min-width:1025px) and (max-width:1440px){
    img{
        background-color: #2fc821;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 3px 4px 5px black;
    }  
}
